In [12]:
# Dependencies and Setup
import pandas as pd

#load the files
players_data_to_load = "resources/Players.csv"
playdata_data_to_load = "resources/player_data.csv"
seasonstats_data_to_load = "resources/Seasons_Stats.csv"

#read the dataframes
players_data = pd.read_csv(players_data_to_load)
playdata_data = pd.read_csv(playdata_data_to_load)
seasonstats_data = pd.read_csv(seasonstats_data_to_load)

#rename the ondex columns to make sure they are the same 
players_data = players_data.rename(columns={"Players": "Player", "collage": "college"})
playdata_data = playdata_data.rename(columns={'name': 'Player'})
seasonstats_data = seasonstats_data.rename(columns={'name': 'Player'})

#Remove rows with incomplete data for season stats
seasonstats_data1 = seasonstats_data[seasonstats_data['Year'] >= 1982]

#merge the files
nba_merge1 = pd.merge(players_data, playdata_data, how="left", on=["Player", "Player"])
nba_merge2 = pd.merge(nba_merge1, seasonstats_data, how="left", on=["Player", "Player"])
nba_merge2

,Unnamed: 0_x,Player,height_x,weight_x,college_x,born,birth_city,birth_state,year_start,year_end,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,1949.0,1951.0,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,1949.0,1951.0,...,0.644,NaN,NaN,89.0,77.0,NaN,NaN,NaN,97.0,202.0
2,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1950.0,1952.0,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
3,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1950.0,1952.0,...,0.649,NaN,NaN,100.0,115.0,NaN,NaN,NaN,98.0,152.0
4,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1950.0,1952.0,...,0.588,NaN,NaN,81.0,70.0,NaN,NaN,NaN,56.0,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25292,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina,2017.0,2018.0,...,0.857,9.0,15.0,24.0,6.0,3.0,1.0,6.0,18.0,58.0
25293,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon,2017.0,2017.0,...,0.500,4.0,6.0,10.0,2.0,3.0,1.0,5.0,4.0,13.0
25294,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee,2017.0,2017.0,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
25295,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany,2017.0,2018.0,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
25296,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina,2017.0,2018.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0