In [2]:
%matplotlib notebook
%matplotlib inline

In [3]:
#dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import seaborn as sn
import os
import csv

In [5]:
##CLEAN UP FIRST FILE
#get and read the csv file
season_data = 'resources/Seasons_Stats.csv'
season_df = pd.read_csv(season_data)
#remove the unecessary column 'Unnamed:0'
season_df.drop('Unnamed: 0', axis=1, inplace=True)
season_df = season_df.rename(columns={'Player':'name'})

In [6]:
#remove years that is less that 1982
after_82 = season_df.loc[(season_df['Year'] >= 2016.0)]
#select only position C
after_82_C =after_82.loc[after_82['Pos'] == 'C']

In [8]:
##CLEAN UP 2ND FILE
#load the files
playdata_data_to_load = "resources/player_data.csv"
#read the dataframes
playdata_data = pd.read_csv(playdata_data_to_load)
playdata_data = playdata_data.set_index(['name'])
# playdata_data = playdata_data["height"].replace({"-":"."}, regex=True) 
print (playdata_data.columns)

Index(['year_start', 'year_end', 'position', 'height', 'weight', 'birth_date',
       'college'],
      dtype='object')

In [13]:
##merge the height and weight of players from playdata_data to after_82_C
#print the columns and see what i should rename to be able to tie the data 
season_df1 = pd.merge(after_82_C, playdata_data, how="left", on=["name", "name"])
season_df1.head()

,Year,name,Pos,Age,Tm,G,GS,MP,PER,TS%,...,TOV,PF,PTS,year_start,year_end,position,height,weight,birth_date,college
0,2016.0,Steven Adams,C,22.0,OKC,80.0,80.0,2014.0,15.5,0.621,...,84.0,223.0,636.0,2014.0,2018.0,C,7-0,255.0,"July 20, 1993",University of Pittsburgh
1,2016.0,Alexis Ajinca,C,27.0,NOP,59.0,17.0,861.0,13.8,0.514,...,54.0,134.0,352.0,2009.0,2017.0,C,7-2,248.0,"May 6, 1988",NaN
2,2016.0,Cole Aldrich,C,27.0,LAC,60.0,5.0,800.0,21.3,0.626,...,64.0,139.0,328.0,2011.0,2018.0,C,6-11,250.0,"October 31, 1988",University of Kansas
3,2016.0,Chris Andersen,C,37.0,TOT,27.0,15.0,402.0,15.3,0.598,...,9.0,29.0,105.0,2002.0,2017.0,F-C,6-10,245.0,"July 7, 1978",Blinn College
4,2016.0,Chris Andersen,C,37.0,MIA,7.0,1.0,36.0,17.6,0.553,...,2.0,4.0,13.0,2002.0,2017.0,F-C,6-10,245.0,"July 7, 1978",Blinn College

In [16]:
season_df1['height'] = season_df1['height'].str.replace('-', '.')
season_df1['height'].apply(type)

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
212    <class 'str'>
213    <class 'str'>
214    <class 'str'>
215    <class 'str'>
216    <class 'str'>
Name: height, Length: 217, dtype: object

In [39]:
season_df1['height'] = season_df1['height'].astype('float')
season_df1['height'].unique

<bound method Series.unique of 0      7.00
1      7.20
2      6.11
3      6.10
4      6.10
       ...
212    6.80
213    7.00
214    7.00
215    7.00
216    7.10
Name: height, Length: 217, dtype: float64>

In [53]:
# corrMatrix = playdata_data.corr()
# sn.heatmap(corrMatrix, annot=True)
# plt.show()
Bin4 = season_df1.groupby(['height']).get_group(7.00, )
bins = [0, 6, 6.5, 7, 7.5, 8, 8.5, 9, 10]
df2 = pd.cut(season_df1['height'], bins)
bins = pd.cut(df['Value'], [0, 100, 250, 1500])

df.groupby(bins)['Value'].agg(['count', 'sum'])

<bound method NDFrame.head of 0      (6.5, 7.0]
1      (7.0, 7.5]
2      (6.0, 6.5]
3      (6.0, 6.5]
4      (6.0, 6.5]
          ...
212    (6.5, 7.0]
213    (6.5, 7.0]
214    (6.5, 7.0]
215    (6.5, 7.0]
216    (7.0, 7.5]
Name: height, Length: 217, dtype: category
Categories (8, interval[float64]): [(0.0, 6.0] < (6.0, 6.5] < (6.5, 7.0] < (7.0, 7.5] < (7.5, 8.0] < (8.0, 8.5] < (8.5, 9.0] < (9.0, 10.0]]>

In [52]:
# Bin1 = season_df1.groupby(['height']).get_group(('<5.5'))
# pc1 = len(Bin1['name'].unique())
# avg1 = Bin1['PTS'].mean()
# total1 = Bin1['weight'].mean()
# AvgBin1 = Bin1.groupby('SN')['Price'].agg('mean')

# Bin2 = season_df1.groupby(['height']).get_group(('5.5-6'))
# pc2 = len(Bin2['name'].unique())
# avg2 = Bin2['PTS'].mean()
# total2 = Bin2['weight'].mean()
# # AvgBin2 = Bin2.groupby('SN')['Price'].agg('mean')

# Bin3 = season_df1.groupby(['height']).get_group(('6-6.5'))
# pc3 = len(Bin3['name'].unique())
# avg3 = Bin3['PTS'].mean()
# total3 = Bin3['weight'].mean()
# # AvgBin3 = Bin3.groupby('SN')['Price'].agg('mean')

Bin4 = df2.groupby(['height']).get_group(('6.50-7.00'))
pc4 = len(Bin4['name'].unique())
avg4 = Bin4['PTS'].mean()
total4 = Bin4['weight'].mean()
# AvgBin4 = Bin4.groupby('SN')['Price'].agg('mean')

Bin5 = df2.groupby(['height']).get_group(('7.00-7.50'))
pc5 = len(Bin5['name'].unique())
avg5 = Bin5['PTS'].mean()
total5 = Bin5['weight'].mean()
# AvgBin5 = Bin5.groupby('SN')['Price'].agg('mean')

Bin6 = df2.groupby(['height']).get_group(('7.50-8.00'))
pc6= len(Bin6['name'].unique())
avg6 = Bin6['PTS'].mean()
total6 = Bin6['weight'].mean()
# AvgBin6 = Bin6.groupby('SN')['Price'].agg('mean')
                             
Bin7 = df2.groupby(['height']).get_group(('8.50-9.00'))
pc7 = len(Bin7['name'].unique())
avg7 = Bin7['PTS'].mean()
total7 = Bin7['weight'].mean()
# AvgBin7 = Bin7.groupby('SN')['Price'].agg('mean')

Bin8 = df2.groupby(['height']).get_group(('9.50-10.00'))
pc8 = len(Bin8['name'].unique())
avg8 = Bin8['PTS'].mean()
total8 = Bin8['weight'].mean()
# AvgBin8 = Bin8.groupby('SN')['Price'].agg('mean')

Bin9 = df2.groupby(['height']).get_group(('>10.00'))
pc9 = len(Bin9['name'].unique())
avg9 = Bin9['PTS'].mean()
total9 = Bin9['weight'].mean()
# AvgBin9 = Bin9.groupby('SN')['Price'].agg('mean')

Height_group = [Bin2,Bin3,Bin4,Bin5,Bin6,Bin7,Bin8,Bin9]
Player_Count=[pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9]
Avg_Points= [avg2,avg3,avg4,avg5,avg6,avg7,avg8,avg9]
Avg_Weight= [total2,total3,total4,total5,total6,total7,total8,total9]

Age_Demo = {"Height":Height_group,"Player Count":Player_Count,"Average Points":Avg_Points,"Average Weight":Avg_Weight}
AgeDemographics = pd.DataFrame(Age_Demo)
AgeDemographics

KeyError: 'height'

In [ ]:
# player_data = 'player_data.csv'
# player_data = pd.read_csv(player_data)
# player_data
# player_data['name']

# player_data = player_data.rename(columns={'name': 'Player'})
# player_data

# players = 'Players.csv'
# players = pd.read_csv(players)

# # sorting by first name 
# # complete_player_data.sort_values("Player", inplace = True) 
  
# # dropping ALL duplicte values 
# complete_player_df.drop_duplicates(subset ="Player", 
#                      keep = False, inplace = True) 
  
# # displaying data 
# complete_player_data
#height analysis
# season_df2=season_df2.dropna(subset=['height'])
# season_df2 = season_df2.set_index(['name'])
#drop the year and get the average of data
# season_df2 = season_df2.drop(columns=['Year'])
# season_df2 = season_df2.mean
# print (season_df2.columns)