In [238]:
#dependencies
import pandas as pd
import os
import csv

In [239]:
player_data = 'player_data.csv'
player_data = pd.read_csv(player_data)
player_data
player_data['name']

player_data = player_data.rename(columns={'name': 'Player'})
player_data

players = 'Players.csv'
players = pd.read_csv(players)
players
players['Player']

Player_Profile_dirty = pd.merge(player_data, players,
                                 how='left', on=["Player","Player"])

In [240]:
#?? sorting by first name 
Player_Profile_dirty.sort_values("Player", inplace = True) 
  
#?? dropping ALL duplicte values 
Player_Profile_dirty.drop_duplicates(subset ="Player", 
                     keep = False, inplace = True) 
  
##### Player_Profile_dirty

Player_Profile = Player_Profile_dirty.dropna(axis = 0, how ='any') 
  
# comparing sizes of data frames 
print("Old data frame length:", len(Player_Profile_dirty), "\nNew data frame length:",  
       len(Player_Profile), "\nNumber of rows with at least 1 NA value: ", 
       (len(Player_Profile_dirty)-len(Player_Profile)))

Old data frame length: 4453
New data frame length: 3019
Number of rows with at least 1 NA value:  1434

In [241]:
print("We have made a <<Player_Profile>> for all ***NBA PLayers***") 
print('--------------'*5)
print("In the 'Player_Plrofile' dataframe you find:")
print(" Players Names, Career Position, Physical Attributes, Birth Info, & Geological BackGround")
# print("????????")   
# print("lets compare the their IDs to thier Statics sine 1982 to determine if thier are any correlations between the two, primarly in regard to physical attributes.")
Player_Profile
#provide player databack ground data(non controlables), but does not provide performance data(STATS))

We have made a <<Player_Profile>> for all ***NBA PLayers***
----------------------------------------------------------------------
In the 'Player_Plrofile' dataframe you find:
 Players Names, Career Position, Physical Attributes, Birth Info, & Geological BackGround

,Player,year_start,year_end,position,height_x,weight_x,birth_date,college,Unnamed: 0,height_y,weight_y,collage,born,birth_city,birth_state
474,Aaron Brooks,2008,2018,G,6-0,161.0,"January 14, 1985",University of Oregon,3211.0,183.0,73.0,University of Oregon,1985.0,Seattle,Washington
1451,Aaron Gordon,2015,2018,F,6-9,220.0,"September 16, 1995",University of Arizona,3707.0,206.0,99.0,University of Arizona,1995.0,San Jose,California
1489,Aaron Gray,2008,2014,C,7-0,270.0,"December 7, 1984",University of Pittsburgh,3225.0,213.0,122.0,University of Pittsburgh,1984.0,Tarzana,California
1666,Aaron Harrison,2016,2017,G,6-6,210.0,"October 28, 1994",University of Kentucky,3780.0,198.0,95.0,University of Kentucky,1994.0,San Antonio,Texas
1945,Aaron James,1975,1979,F,6-8,210.0,"October 5, 1952",Grambling State University,1040.0,203.0,95.0,Grambling State University,1952.0,New Orleans,Louisiana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2339,Zach LaVine,2015,2017,G,6-5,189.0,"March 10, 1995","University of California, Los Angeles",3724.0,196.0,85.0,"University of California, Los Angeles",1995.0,Renton,Washington
3312,Zach Randolph,2002,2018,F-C,6-9,260.0,"July 16, 1981",Michigan State University,2825.0,206.0,117.0,Michigan State University,1981.0,Marion,Indiana
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University,746.0,206.0,106.0,Iowa State University,1946.0,Brooklyn,New York
4531,Zeke Zawoluk,1953,1955,F-C,6-7,215.0,"October 13, 1930",St. John's University,318.0,201.0,97.0,St. John's University,1930.0,Brooklyn,New York
1602,Zendon Hamilton,2001,2006,C-F,6-11,250.0,"April 27, 1975",St. John's University,2725.0,211.0,113.0,St. John's University,1975.0,Floral Park,New York

In [242]:

print("We import ***The Seasons Stats***,")
print("")
print("We see the stats for ever *** NBA Player, on Team, for each Year ***.")
print("   ex. if a player was traded 3 times in one Season it will show 3 rows of *Performance Stats for that Year for that Player")
print("")
print("Additionly, A player's *Position/'role' will alter their perfomance behavior")
print("and thus increase/decrease opportunity to contribute to Performance statics uniformly,")
print("However each Position has a uniform for desired statistical traits that can be identified")
print("amongst a range of Players(Top15, Top100, All NBA PLayers,) who hold that postion")
print(" ")
print(" ")
print(" 'Year Position'   Player positions may change amongst the years but not their Career Position from their Player_Profile")

stats_data = 'Seasons_Stats.csv'
stats_data = pd.read_csv(stats_data)
stats_data['Pos'].value_counts()

We import ***The Seasons Stats***,

We see the stats for ever *** NBA Player, on Team, for each Year ***.
   ex. if a player was traded 3 times in one Season it will show 3 rows of *Performance Stats for that Year for that Player

Additionly, A player's *Position/'role' will alter their perfomance behavior
and thus increase/decrease opportunity to contribute to Performance statics uniformly,
However each Position has a uniform for desired statistical traits that can be identified
amongst a range of Players(Top15, Top100, All NBA PLayers,) who hold that postion


 'Year Position'   Player positions may change amongst the years but not their Career Position from their Player_Profile

PF       4966
SG       4811
C        4759
SF       4699
PG       4648
G         139
F         123
F-C        81
G-F        79
F-G        60
C-F        35
C-PF       33
SF-SG      30
PG-SG      28
PF-C       27
SG-PG      27
SG-SF      26
PF-SF      25
SF-PF      21
SG-PF       3
C-SF        2
SF-PG       1
PG-SF       1
Name: Pos, dtype: int64

In [243]:
print("Career Positions from Payer_Profile")
Player_Profile['position'].value_counts()

Career Positions from Payer_Profile

G      1083
F       854
C       306
F-C     267
G-F     227
C-F     147
F-G     135
Name: position, dtype: int64

In [244]:
NBA_All_Stats_and_Profile_df = pd.merge(Player_Profile, stats_data,
                                 how='left', on=["Player","Player"])
# list(NBA_All_Stats_and_Profile_df)

In [245]:
# #list all columns and create new columns I want (height and weight)

new_columns = [
    'Year',
    'Player',
    'Pos',
    'position',
    'Age',
    'height_x','height_y',
    'weight_x','weight_y',
    'DRB','STL','BLK',
    'TRB',
    'ORB',
    'AST',
    'PTS',
    'FG','FGA','FG%','eFG%',
    '3P','3PA','3P%',
    '2P','2PA','2P%',
    'FT','FTA','FT%',
    'TOV',
    'PF',
    'G',
    'GS',
    'MP',
    'Tm',
    'born','birth_date','birth_city','birth_state',
    'collage','college',
    'PER']
NBA_Unedited_Coloumns_df = NBA_All_Stats_and_Profile_df[new_columns]


NBA_df = NBA_Unedited_Coloumns_df.rename(columns={'Pos':"Year Position",
                                   "position":'Career Position',
                                   "MP":"Minutes Per Game",
                                   "Tm":"Team",
                                   "G":"Games Played",
                                   "GS":"Games Started",
                                   "PF":"Personal Fouls",
                                   "birth_state":"Birth City",
                                   "birth_city":"Birth State",
                                   "birth_date":"DOB",
                                   "born":"YearBorn",
                                   "height_x":"Ht(inches)",
                                   "height_y":"Ht.(cm)",
                                   "weight_x":"Wt.(lbs)",
                                   "weight_y":"Wt.(kgs)",
                                   "PER":"Player Rating",
                                  })
# NBA_df

In [269]:
NBA_df.to_csv('../NBA_dfs/All_NBA_PLayers_PPS.csv') #THIS WILL BE THE DATA FRAME WE BUILD OUR 4 POSITIONS FROM

In [259]:
#  1ST  NBA Guards by Career Position

G_NBA_df = NBA_df.loc[(NBA_df['Career Position']== "G")|(NBA_df['Career Position']== "G-F")|(NBA_df['Career Position']== "F-G")] 
G_NBA_df.to_csv('../NBA_dfs/All_Guards_PPS.csv')
G_NBA_df['Career Position'].value_counts()
# G_NBA_df['Career Position'].count()

G      6567
G-F    1694
F-G    1045
Name: Career Position, dtype: int64

In [260]:
G_NBA_df['Year Position'].value_counts() # A 'Career Gaurd' may, but is not likely to play  a 'Year' as a 'Foward',

PG       3848
SG       3774
SF       1391
G          70
PF         53
F-G        38
G-F        38
PG-SG      26
SF-SG      22
SG-PG      22
SG-SF      18
SG-PF       2
PF-SF       2
SF-PF       1
PG-SF       1
Name: Year Position, dtype: int64

In [261]:
#  2ND  NBA Forwards by Career Position (these then to be your more all around Players aka your "BIGGIE SMALLS" his role is difine by his talents that are sought o be applied, thats why they rotate bewteen Guards and Centers.Thier role is more defined under "Year Position ex SF, PF,and F")

F_NBA_df = NBA_df.loc[(NBA_df['Career Position']== "F")|(NBA_df['Career Position']== "G-F")|(NBA_df['Career Position']== "F-G")|(NBA_df['Career Position']== "F-C")|(NBA_df['Career Position']== "C-F")] 
F_NBA_df.to_csv('../NBA_dfs/All_Fowards_PPS.csv')
F_NBA_df['Career Position'].value_counts()
# F_NBA_df['Career Position'].count()

F      4624
F-C    2283
G-F    1694
C-F    1220
F-G    1045
Name: Career Position, dtype: int64

In [262]:
F_NBA_df['Year Position'].value_counts()

PF       3941
SF       3461
C        1696
SG       1373
PG         83
F          58
F-C        41
F-G        38
G-F        38
C-PF       25
C-F        21
PF-C       20
SF-SG      19
PF-SF      16
SF-PF      16
SG-SF      14
SG-PF       2
PG-SF       1
C-SF        1
PG-SG       1
SG-PG       1
Name: Year Position, dtype: int64

In [263]:
#  3RD  NBA Centers by Career Position

C_NBA_df = NBA_df.loc[(NBA_df['Career Position']== "C")|(NBA_df['Career Position']== "C-F")|(NBA_df['Career Position']== "F-C")] 
C_NBA_df.to_csv('../NBA_dfs/All_Centers_PPS.csv')
C_NBA_df['Career Position'].value_counts()
# C_NBA_df['Career Position'].count()

F-C    2283
C      1888
C-F    1220
Name: Career Position, dtype: int64

In [264]:
C_NBA_df['Year Position'].value_counts()

C        3303
PF       1797
SF        189
F-C        41
C-F        21
PF-C       19
C-PF       16
SG          3
C-SF        1
PF-SF       1
Name: Year Position, dtype: int64

In [265]:
NBA_82_17_df = NBA_df.loc[(NBA_df['Year']>=1982)] 
NBA_82_17_df.to_csv('../NBA_dfs/All_NBA_82_17_PPS.csv')
NBA_82_17_df.sort_values(by=['Year'])

,Year,Player,Year Position,Career Position,Age,Ht(inches),Ht.(cm),Wt.(lbs),Wt.(kgs),DRB,...,Games Started,Minutes Per Game,Team,YearBorn,DOB,Birth State,Birth City,collage,college,Player Rating
11010,1982.0,Kevin Stacom,SG,G,30.0,6-3,190.0,185.0,83.0,5.0,...,0.0,90.0,MIL,1951.0,"September 4, 1951",New York,New York,Providence College,Providence College,4.0
10506,1982.0,Kelvin Ransey,PG,G,23.0,6-1,185.0,170.0,77.0,147.0,...,68.0,2418.0,POR,1958.0,"May 3, 1958",Toledo,Ohio,Ohio State University,Ohio State University,16.5
7014,1982.0,Glenn Hagan,PG,G,26.0,6-0,183.0,170.0,77.0,2.0,...,0.0,25.0,DET,1955.0,"June 25, 1955",Sanford,Florida,St. Bonaventure University,St. Bonaventure University,18.1
7012,1982.0,Glen Gondrezick,SF,F-G,26.0,6-6,198.0,218.0,98.0,283.0,...,0.0,1699.0,DEN,1955.0,"August 30, 1955",Boulder,Colorado,"University of Nevada, Las Vegas","University of Nevada, Las Vegas",14.9
8730,1982.0,Jeff Wilkins,C,C-F,26.0,6-11,211.0,230.0,104.0,491.0,...,62.0,2274.0,UTA,1955.0,"March 9, 1955",Chicago,Illinois,Illinois State University,Illinois State University,10.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2272,2017.0,Briante Weber,PG,G,24.0,6-2,188.0,165.0,74.0,4.0,...,0.0,46.0,GSW,1992.0,"December 29, 1992",Chesapeake,Virginia,Virginia Commonwealth University,Virginia Commonwealth University,5.9
2271,2017.0,Briante Weber,PG,G,24.0,6-2,188.0,165.0,74.0,18.0,...,0.0,205.0,TOT,1992.0,"December 29, 1992",Chesapeake,Virginia,Virginia Commonwealth University,Virginia Commonwealth University,11.0
10309,2017.0,Justin Anderson,SF,G,23.0,6-6,198.0,228.0,103.0,176.0,...,10.0,1228.0,TOT,1993.0,"November 19, 1993",Montross,Virginia,University of Virginia,University of Virginia,13.9
2358,2017.0,Bryn Forbes,SG,G,23.0,6-3,190.0,190.0,86.0,21.0,...,0.0,285.0,SAS,1993.0,"July 23, 1993",Lansing,Michigan,Michigan State University,Michigan State University,5.9
10029,2017.0,Johnny O'Bryant,PF,F-C,23.0,6-9,206.0,257.0,116.0,4.0,...,0.0,34.0,CHO,1993.0,"June 1, 1993",Cleveland,Mississippi,Louisiana State University,Louisiana State University,15.5

In [266]:
G_82_17_df = G_NBA_df.loc[(G_NBA_df['Year']>=1982)]
G_82_17_df.to_csv('../NBA_dfs/All_Guards_82_17_PPS.csv')
# G_82_17_df.sort_values(by=['Year'])

In [267]:
F_82_17_df = F_NBA_df.loc[(F_NBA_df['Year']>=1982)] 
F_82_17_df.to_csv('../NBA_dfs/All_Forwards_82_17_PPS.csv')
# F_82_17_df.sort_values(by=['Year'])

In [268]:
C_82_17_df = C_NBA_df.loc[(C_NBA_df['Year']>=1982)] 
C_82_17_df.to_csv('../NBA_dfs/All_Centers_82_17_PPS.csv')
C_82_17_df.sort_values(by=['Year'])

,Year,Player,Year Position,Career Position,Age,Ht(inches),Ht.(cm),Wt.(lbs),Wt.(kgs),DRB,...,Games Started,Minutes Per Game,Team,YearBorn,DOB,Birth State,Birth City,collage,college,Player Rating
1364,1982.0,Bill Cartwright,C,C,24.0,7-1,216.0,245.0,111.0,305.0,...,50.0,2060.0,NYK,1957.0,"July 30, 1957",Lodi,California,University of San Francisco,University of San Francisco,16.3
9684,1982.0,John Lambert,PF,C-F,29.0,6-10,208.0,225.0,102.0,32.0,...,6.0,271.0,SAS,1953.0,"January 14, 1953",Berkeley,California,University of Southern California,University of Southern California,8.3
5913,1982.0,Edgar Jones,PF,F-C,25.0,6-10,208.0,225.0,102.0,137.0,...,19.0,802.0,DET,1956.0,"June 17, 1956",Fort Rucker,Alabama,"University of Nevada, Reno","University of Nevada, Reno",17.5
16281,1982.0,Sam Pellom,PF,F-C,30.0,6-9,206.0,225.0,102.0,139.0,...,4.0,1037.0,ATL,1951.0,"October 2, 1951",Wilmington,North Carolina,"University at Buffalo, State University of New...","University at Buffalo, State University of New...",10.3
5716,1982.0,Earl Cureton,PF,F-C,24.0,6-9,206.0,210.0,95.0,180.0,...,8.0,956.0,PHI,1957.0,"September 3, 1957",Detroit,Michigan,University of Detroit Mercy,University of Detroit Mercy,12.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,2017.0,Arinze Onuaku,C,C,29.0,6-9,206.0,255.0,115.0,4.0,...,0.0,28.0,ORL,1987.0,"July 13, 1987",Lanham,Maryland,Syracuse University,Syracuse University,5.8
2994,2017.0,Chinanu Onuaku,C,F-C,20.0,6-10,208.0,245.0,111.0,8.0,...,1.0,52.0,HOU,1996.0,"November 1, 1996",Baltimore,Maryland,University of Louisville,University of Louisville,12.3
17365,2017.0,Steven Adams,C,C,23.0,7-0,213.0,255.0,115.0,333.0,...,80.0,2389.0,OKC,1993.0,"July 20, 1993",Rotorua,New Zealand,University of Pittsburgh,University of Pittsburgh,16.5
1048,2017.0,Aron Baynes,C,C,30.0,6-10,208.0,260.0,117.0,222.0,...,2.0,1163.0,DET,1986.0,"December 9, 1986",Gisborne,New Zealand,Washington State University,Washington State University,13.1
2801,2017.0,Channing Frye,C,C-F,33.0,6-11,211.0,255.0,115.0,253.0,...,15.0,1398.0,CLE,1983.0,"May 17, 1983",White Plains,New York,University of Arizona,University of Arizona,15.6